<!DOCTYPE html>
<html>
	<head>
	<title>AskIt | Create and share poll</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="viws/img/icon.png">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/style/style.css">
	</head>
	<body>
		<div class="container">
			<header class="row page-header"><a href="/" class="link-unstyled"><h1>AskIT</h1></a><div>Create and share poll has never been so easy !</div></header>
			<input type="hidden" name="id_poll" id='id_poll' value="<%= poll.id_poll %>">
			<div class="row poll-title">
				<div class="col-xs-12 text-center"><%= poll.libelle_poll %></div>  
			</div>
			<div class="option-result">
				<% for(var i = 0 ; i < options.length ; i++) {%>
					<div id='<%= options[i].id_option%>' class='row option'>
						<span class="col-sm-4 col-xs-12">- <%=options[i].libelle_option%></span>
						<span class="col-sm-7 col-xs-10">
							<div class="progress">
								<div class='progress-bar' style='width: <%=options[i].vote / poll.vote *100 %>%; background-color: <%= options[i].color %>'></div>
							</div>
						</span>
						<span class="col-xs-1 vote">
							<% if (poll.vote != 0) { %>
								<%= Math.round(options[i].vote / poll.vote *100) %>%
							<% }else{ %>
								0%
							<% } %>						
						</span>
					</div>
				<% } %>
				<hr>
				<div class="row">
					<div class="col-xs-10 total">TOTAL : <%= poll.vote %> votes</div>
					<div class="col-xs-2"><button type="button" class="btn btn-info share pull-right">Share</button>
					</div>
				</div>	
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/js/result.js"></script>        
	</body>
</html>